.Logar {
    
    border: solid cadetblue;
    position: relative;
    padding: 5% 5% 5% 5%;
    border-radius: 20px;
    background-color: white;
   
}

.fontpag {
    
    color: cadetblue;
        
}

.txtform {

    width: 100%;
    border: solid 1px cadetblue;
    border-radius: 5px;
    height: 40px;
    color: cadetblue;
    font-size: 18px;

}

#btnEntrar {
    width: 100%;
    height: 50px;
}

#btnRecSenha {
    width: 100%;
    height: 50px;
}
